.toggle {
    transition: all 0.3s;
}

.mobile-menu-enter{
  opacity: 0.1;
}

.mobile-menu-enter-active{
  opacity: 1;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
}

.mobile-menu-exit{
  opacity: 1;
}
.mobile-menu-exit-active{
  opacity: 0;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
}
